<app-header></app-header>

<search></search>

<cadastro></cadastro>
<br>

<div class="tile is-ancestor">
  <div class="tile is-2 is-vertical is-parent">
    <div class="tile is-child box">
      <menus></menus>
    </div>
  </div>
  <div class="tile is-parent">
    <div class="tile is-child box">
    </div>
  </div>
</div>

<footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Auto Center Brasil</strong> 
      <a href="http://opensource.org/licenses/mit-license.php"> Contato: (11) xxxxx-xxxx</a> 
    <p>
      <a href="http://opensource.org/licenses/mit-license.php"> Facebook </a> 
      <a href="http://creativecommons.org/licenses/by-nc-sa/4.0/"> Twitter </a>
    </p>
  </div>
</footer>
